.GR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    background-color: rgb(248, 248, 248);

    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        margin-top: 25px;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Archivo Narrow', sans-serif;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 40%;

            &__card {
                display: flex;
                flex-direction: column;
                gap: 10px;

                background-color: white;
                border: 0.5px solid black;
                border-radius: 5px;
                width: 300px;
                padding: 20px;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    letter-spacing: 0.5px;

                    span:first-child {
                        font-weight: bold;
                    }
                }
            }

            button {
                position: relative;
                display: inline-block;
                border: none;
                outline: none;
                border-radius: 0.2rem;
                font-size: 1.2rem;
                font-weight: 800;
                letter-spacing: 2px;
                text-transform: uppercase;
                cursor: pointer;
                overflow: hidden;
                width: 150px;
                border: 0.5px solid black;
                margin-top: 15px;
            }

            button::before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                color: #fff;
                display: grid;
                place-items: center;
                transform: translateX(-100%);
                transition: transform 0.5s;
            }

            button:hover::before {
                transform: none;
            }

            button span {
                display: inline-block;
                padding: 1rem 2rem;
                transition: transform 0.5s;
            }

            button:hover span {
                transform: translateX(110%);
            }
        }

        img {
            width: 60%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        font-family: 'Archivo Narrow', sans-serif;
        width: 90%;

        h3 {
            font-size: 40px;
            font-family: 'Teko', sans-serif;
            letter-spacing: 3px;
        }

        p {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
}

@media screen and (max-width: 425px) {
    .GR h1 {
        font-family: "Dancing Script", cursive;
        font-size: 30px;
        margin-top: 25px;
    }

    .GR__text p {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .GR__image {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .GR__image__info__card {
        width: 250px;
        padding: 10px;
        gap: 0px;
    }

    .GR__image__info button span {
        padding: 0rem 2rem;
    }
}